*{
  margin: 0;
  padding: 0;
}
.main-container{
  height: 100vh;
}
.left-menu{
  width: 30%;
}
.left-menu__title{
  width: 100%;
font-weight: bold;
text-align: center;
}
.footer{
  background-color: #0d6efd;
}
.card{
  height: 400px;
}
.card-content{
  height: 80%;
}
.card-button{
  width: 100px;
}